<div>
  <section class="bg-yellow">
    <div class="xx-lg alegreya-sans-bold"> Worldwide Mobile Rechagre! </div>
    <div class="xx-lg alegreya-sans-thin"> Send Credit and Data to any Phone </div>
  </section>
</div>

<mat-horizontal-stepper #stepper (selectionChange)="onStepChange($event)">
  <!-- Step 1 -->
  <mat-step [stepControl]="firstFormGroup" [completed]="isStepComplete(0)">
    <ng-template matStepLabel>
      <mat-icon *ngIf="!isActiveStep(0)" class="inactive-icon">
        circle
      </mat-icon>
      <div *ngIf="isActiveStep(0)" class="active-icon">
      </div>
    </ng-template>
    <form [formGroup]="firstFormGroup">
      <div>
        <div>Recipient's country</div>
        <app-country-dropdown (notify)="receiveMessage($event)" [selectedCompany]="selectedCompany"
          [myInputValue]="selectedCountry"></app-country-dropdown>
      </div>
      <div class="mt-3">
        <div class="mt-1">Enter Mobile Number</div>
        <div class="mt-2 relative">
          <span class="country-code"> {{selectedCountry?.code}} </span>
          <input type="text" class="input-box" formControlName="mobileNumber" maxlength="10">
        </div>
        <div *ngIf="firstFormGroup.get('mobileNumber')?.hasError('pattern')">
          <div class="info-svg">
            <mat-icon class="info-icon">info</mat-icon>
          </div>
          <div class="info-right">
            <div class="red-text pb-1">
              Invalid
            </div>
            <div *ngIf="firstFormGroup.get('mobileNumber')?.hasError('pattern')">
              Mobile number entered and country selected is incorrect.
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3 submit-button">
        <button class="alegreya-sans-medium" (click)="nextStep(firstFormGroup.invalid)"
          [disabled]="firstFormGroup.invalid  || !selectedCountry" matStepperNext>Start Rechagre</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 2 -->
  <mat-step [completed]="isStepComplete(1)">
    <ng-template matStepLabel>
      <mat-icon *ngIf="!isActiveStep(1)" class="inactive-icon">
        circle
      </mat-icon>
      <div *ngIf="isActiveStep(1)" class="active-icon">
      </div>
    </ng-template>
    <form *ngIf="displayCountryAndMobile" [formGroup]="secondFormGroup">
      <div>
        <div>Recipient's country</div>
        <app-country-dropdown (notify)="receiveMessage($event)" [selectedCompany]="selectedCompany"
          [myInputValue]="selectedCountry"></app-country-dropdown>
      </div>
      <div class="mt-3">
        <div class="mt-1">Enter Mobile Number</div>
        <div class="mt-2 relative">
          <span class="country-code"> {{selectedCountry?.code}} </span>
          <input type="text" class="input-box" formControlName="mobileNumber" maxlength="10">
        </div>
        <div *ngIf="secondFormGroup.get('mobileNumber')?.hasError('pattern')">
          <div class="info-svg">
            <mat-icon class="info-icon">info</mat-icon>
          </div>
          <div class="info-right">
            <div class="red-text pb-1">
              Invalid
            </div>
            <div *ngIf="secondFormGroup.get('mobileNumber')?.hasError('pattern')">
              Mobile number entered and country selected is incorrect.
            </div>
          </div>
        </div>
      </div>
    </form>
    <div *ngIf="displayCompany" class="container">
      <div class="boxes">
        <div class="box" *ngFor="let item of items" (click)="selectItem(item)">
          <img [src]="item.image" alt="{{ item.title }}" class="box-image" />
          <div class="box-title">{{ item.title }}</div>
        </div>
      </div>
    </div>
    <div *ngIf="selectedCompany" class="mb-3">
      Recipients Details
      <app-recipients-details (notify)="goToStep($event)" [selectedCompany]="selectedCompany"
        [myInputValue]="selectedCountry" [mobileNumber]="firstFormGroup.value['mobileNumber']"></app-recipients-details>
    </div>
    <div *ngIf="selectedCompany">
      <div>Let's select a top-up</div>
      <div *ngFor="let product of productList" class="tile-border"> {{product.value}} {{product.country}} </div>
    </div>
  </mat-step>

  <!-- Step 3 -->
  <mat-step [completed]="isStepComplete(2)">
    <ng-template matStepLabel>
      <mat-icon *ngIf="!isActiveStep(2)" class="inactive-icon">
        circle
      </mat-icon>
      <div *ngIf="isActiveStep(2)" class="active-icon">
      </div>
    </ng-template>
    Content for Step 3
  </mat-step>

  <!-- Add more steps as needed -->
</mat-horizontal-stepper>